tensorboard==2.8.0
tensorflow==2.6.0
tensorflow-estimator==2.8.0
absl-py
alembic
astor
atomicwrites
attrs
cachetools
certifi
chardet
Click
cloudpickle
configparser
databricks-cli
docker
dnspython
entrypoints
flake8
Flask
flask_cors
gast
gitdb2
GitPython
google-auth
google-auth-oauthlib
google-pasta
gorilla
grpcio
gunicorn
h5py
idna
importlib-metadata
itsdangerous
Jinja2
Keras-Preprocessing
Mako
matplotlib
Markdown
MarkupSafe
mccabe
mlflow
more-itertools
numpy
oauthlib
opt-einsum
packaging
pandas
Pillow
pluggy
protobuf
py
pyasn1
pyasn1-modules
pycodestyle
pydrive
pyflakes
pymongo
pyparsing
pytest
python-dateutil
python-editor
pytz
PyYAML
pickle5
querystring-parser
requests
requests-oauthlib
rsa
scikit-learn
scipy
simplejson
six
smmap2
sqlparse
tabulate
termcolor
urllib3
wcwidth
websocket-client
Werkzeug
wget
wrapt
wordcloud
zipp
nltk